@model WebLojaGamesMVC.Models.Cliente
@{
    ViewBag.Title = "Cliente";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <form action="~/cliente/listarcli" method="post">
        <fieldset>
            <legend>Dados do Cliente</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.CliNome)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CliNome)
                @Html.ValidationMessageFor(model => model.CliNome)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.CliCPF)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CliCPF)
                @Html.ValidationMessageFor(model => model.CliCPF)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.CliNasc)
            </div>
            <div class="editor-field">
                <input type="date" value="@Model.CliNasc" name="CliNasc" />
                @Html.ValidationMessageFor(model => model.CliNasc)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.CliEnd)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CliEnd)
                @Html.ValidationMessageFor(model => model.CliEnd)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.CliCel)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CliCel)
                @Html.ValidationMessageFor(model => model.CliCel)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.CliEmail)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CliEmail)
                @Html.ValidationMessageFor(model => model.CliEmail)
            </div>

        </fieldset>

        <div>
            <br /> <input type="submit" value="Enviar" />
        </div>
    </form>
}

